//COLORS
$color-black: #20222b;
$color-primary: #a5afd7;
$color-primary-dark: #8357c5;
$color-dark-blue: #333745;
$color-light-blue: #463b5e;
$color-blue: #3C4251;
$color-light: #fff;

//SPACING
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$msl-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4rem;